.container-fluid {
    background-color:forestgreen;
}
        @media screen and (max-width: 600px) {
            .container-fluid {
            background-color: forestgreen;
            }
            .cotton-image {
                height: 400px;
                width: 300px
            }
            .carouselItem {
                height: 400px;
            }
        }

.carouselItem {
    height: 600px;
}

.cotton-image {
    height: 600px;
    width: 500px;
}

